NEXT_PUBLIC_SUPABASE_URL=https://qeicxjzqqgsksdaypuxnw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Ll1WuiFgdq5B5sS6M6kgCw_cJAhKqrT
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlaWN4anpxZ3Nrc2RheXB1eG53Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTE1ODg4MCwiZXhwIjoyMDkwNzM0ODgwfQ.yUKK6YQpHp_VExV0G23L_buwqdOY94CiXxh3urjSPhc
